@import "./animations";
@import "./buttons";
@import "./inputs";
@import "./boxShadows";
@import "./left-sidebar";

.container {
    margin: 0;
}

.page-container {
    margin-top: var(--header-height);
    height: calc(100vh - #{var(--header-height)});
    width: 100vw;
    display: grid;
    @media (min-width: 1010px) {
        grid-template-columns: 290px auto;
    }
}

.app-container {
    display: flex;
    justify-content: center;
    background-color: #f6faff;
}

.ce-block__content {
    max-width: inherit !important;
}
.ce-toolbar__content {
    max-width: inherit !important;
}