* {
    --primary: #0067b8;
    --primary-twilight: #106ebe;
    --primary-dark: #005a9e;
    --primary-neutral: #f3f2f1;
    --grey: #a19f9d;
    --darker: #1b1b1b;
    --danger: #d83b01;
    --danger-twilight: #f14202;
    --danger-dark: #b83100;
    --border-color: #605e5c;
    --border-color-dark: #3d3d3d;
    --border-color-light: #edebe9;

    --editor-border-color: #c8c6c4;

    --text-color: #323130;
    --text-title-color: #605e5c;

    --light-color: #fff;

    --save-color: #007239;
    --save-color-twilight: #00a853;
    --save-color-dark: #004a26;

    --neutral-color: #e1dfdd;
    --neutral-color-twilight: #f3f2f1;

    --tollbar-text-color: #34373d;

    --files-default-color: #e1dfdd;
}
